#cart{
    min-height: calc(100vh - 6rem);
    width: 100%;
}
.cart-list-container{
    width: 100%;
    border: 1px solid black;
    padding: 2rem;
}

.cart-list-products{
    width: 70%;
    height: 100%;
    /* border: 1px solid beige; */
}


.cart-list{
    height: fit-content;
    width: 70%;
    border: 1px solid black;
}
.list-product-imgContainer{
    width: 100px;
    height: 100px;
    margin:0
}
.list-product-img{
    width: 100%;
    object-fit: contain;
}

.cart-options{
    height: 100%;
}