.counter-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.counter-bttns{
  display: flex;
  padding: .5rem;
  gap: 1rem;

  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.counter-bttn{
  background-color: transparent;
  border: none;

  font-size: 1rem;
  font-weight: bolder;
}
.counter, .counter-totalPrice{
  font-size: 1.2rem;
  text-align: center;
}
.counter{
  width: 2rem;
}
.counter-totalPrice{
  width: 5rem;
}