/*----------Item.jsx-------------*/
.item-card-container{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}
.item-card-container:hover{
    
}
.card-imgContainer{
    height: 60%;
}
.card-img{
    transition: 0.5s;
    object-fit: contain;
}
.card-img:hover{
    transform: scale(1.1);
}
.card-body{
    height: 40%;
}
/*-----------------------*/
#item-detail{
}
.detail-container{
    width: 80%;
    height: 80%;
    justify-content: space-around;
    border: solid 1px black;
}
.detail-imgContainer{
    width: calc(100% / 2);
    height: 100%;
    padding: 1rem;
}
.detail-img{
    height: inherit;
    object-fit: contain;
    transition: 0.5s;
}
.detail-img:hover{
    transform: scale(1.1);
}
.detail-desc{
    width: 40%;
}

/*-----------------------*/
.item-counter{
    width: inherit;
}
.counter-container{
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
}
.counter-bttn{
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.item-price{
    margin:0
}
span{
    color: black;
}

.toCart-bttn{
    border: none;
    padding: 10px 20px;
    width: 15rem;
    height: 4rem;
}

.cartAdd-bttn{
    background-color: black;
    color:white;
}
.cartRemove-bttn{
    background-color: rgb(199, 199, 199);
    color: rgb(102, 102, 102);
    transition: 0.5s;
}
.cartRemove-bttn:hover{
    color: black
}
.item-title, p{
    color: black;
    text-align: center;
}