/* ----------------------- Cart.jsx ----------------------- */
.cart-list-container{
  width: inherit;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: $pokedex;
  
  .cart-list, .list-products, .cart-options{
      border-radius: 10px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  .cart-list, .cart-options{
    border-width: 3px;
}

  .cart-list{
    width: 70%;
    height: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .list-products{
      width: 90%;
      height: inherit;
      overflow-y: scroll;
      border-radius: 20px;
      color: black;
      background-color: white;
      &::-webkit-scrollbar {
        width: .5rem;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 1rem;
      }
    }
  }

  .cart-options{
    height: 100%;
    width: 25%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* ------CartDetail.jsx----- */
.product{
  height: fit-content;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .5rem;
  margin-bottom: .5rem;

  .product-detail{
      display: flex;
      gap: 1rem;

      .product-img-container{
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          margin:0;

          .product-img{
              width: 100%;
              object-fit: contain;
          }
      }

      .product-name-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .product-remove{
          cursor: pointer;
          &:hover{
            color: rgb(219, 16, 16);
          }
        }
      }
  }
}
