/* card bttn */
.hiddenBttn{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 15%;
  font-size: 2rem;

  transition: all .4s ease-in-out;
  border: 1px solid $card-bttn;
  box-shadow: inset 0 0 4px 2px $card-bttn;
}
.hiddenBttn--on{
  background-color: $card;
}
.hiddenBttn--on:hover{
  color: rgb(0, 166, 50);
}
.hiddenBttn--off{
  background-color: $card-bttnOff;
  border: none;
  color: grey
}
.hiddenBttn--off:hover{
  color: black
}

/* pokedex bttn */
.pokedex-bttn{
  height: 4rem;
  width: 45%;
  text-shadow: 3px 3px 3px black;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}
.pokedex-bttn--on{
  box-shadow: 0 0 3px 1px black;
}
.pokedex-bttn--off{
  box-shadow:
      inset 0 0 2px 1px rgb(0, 0, 0),
      0 0 3px 1px black;
  border: 1px solid black;
}

.pokedex-bttn--on:hover{
  color: rgb(93, 255, 179);
}
.pokedex-bttn--off:hover{
color: red
}

/* cart & checkout bttn*/
.large-bttn{
  width: 100%;
  height: 4rem;
  margin: 1rem 0;

  font-size: 2rem;
  background-color: $light-blue;
  box-shadow:
    inset 0 0 1px 3px $box-shadow-black,;
    // 0 0 3px 2px $box-shadow-black;

  &:active{
    background-color: $blue;
  }
  &:hover{
    box-shadow:
      // 0 0 3px 2px rgba(0, 0, 0, 0.5),
      inset 0 0 1px 6px $box-shadow-black;
  }
}

/* counter bttns*/
.counter-bttns{
  display: flex;
  align-items: center;
  padding: .3rem;
  gap: .2rem;
  position: relative;

  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  background-color: rgb(250, 214, 29, 0.8);

  .counter-bttn{
    width: 2.2rem;
    height: 2.2rem;

    border-radius: 50%;
    background-color: rgb(246, 45, 20);
    border: none;
    color: white;
    text-shadow: 0 0 5px black;
    &:disabled{
    background-color: rgb(255, 0, 0, 0.2);
    }
  
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

@media only screen and (max-width: $tablet-max) {
  .hiddenBttn{
    bottom: 0;
  }


  .item-bttn{
    font-size: 1.3rem;
    height: 3rem;
  }
}