*{
  padding: 0;
  margin: 0;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(218, 216, 216, 0.8);
}

.main-container, .pokenav, footer{
  width: 80%;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 5px 1px rgba(83, 83, 83, 0.1);
}
.main-container{
  min-height: calc(100vh - 8rem);
  background: rgb(255,255,255);
}

.card-title{
  font-family: 'VT323', monospace !important;
}
h1, h2, h3, p, span, .pokenav, button{
  font-family: 'VT323', monospace;
}
