#navbarNav{
  justify-content: flex-end;
}

.pokenav{
  height: 6rem;
  font-family: var(--font);
  font-size: 1.5rem;
}

.pokenav-logo{
  width: 40%;
}

.pokenav-link{
  text-decoration: none;
  margin: 0 50px;
}

.pokenav-link.active{
  color: $pokedex;
}